In [ ]:
Interview questions:

In [3]:
1.what is the definition of  dictionary.?
2.what is a for loop..?
3.what is the approach for arranging the list in a alphabetical order.?
4.what is a tuple datatype.?
5.what is a class in python.?
6.what is the diff between function and a method..?
7.what is the difference between list and tuple.?
8.what is the use of object in the class.?
9.what is the method name that we can use to verify and validate the datatype defined.?
10.students = ['sandhya','ayesha','venkat','naveen']
11.what is the diff btw arguments and parameters.?
#mounika

SyntaxError: invalid decimal literal (3457645113.py, line 1)

In [7]:
students = ['sandhya','ayesha','venkat','naveen']

In [ ]:
students.append()

In [ ]:
# i want to add farhat name at 2nd index...

In [8]:
students.insert(2,'farhat')

In [9]:
print(students)

['sandhya', 'ayesha', 'farhat', 'venkat', 'naveen']

In [ ]:
students....>print each student

In [10]:
print(students)

['sandhya', 'ayesha', 'farhat', 'venkat', 'naveen']

In [11]:
for temp in students:
    print(temp)

sandhya
ayesha
farhat
venkat
naveen

In [12]:
school = {'sandhya':1,'basha':2,'dipali':3,'rajee':4}

In [13]:
print(students)

['sandhya', 'ayesha', 'farhat', 'venkat', 'naveen']

In [ ]:
#i want to make basha roll number as 10

In [14]:
school['basha']=10

In [16]:
print(school)

{'sandhya': 1, 'basha': 10, 'dipali': 3, 'rajee': 4}